body{

font-family:Arial;
background:#f3f4f6;
max-width:500px;
margin:auto;
text-align:center;

}


.logo{

width:150px;
margin-top:20px;

}


.topButtons button{

margin:6px;
padding:10px;
font-size:14px;

}


.summary{

background:white;
padding:15px;
margin:10px;
border-radius:12px;

}


.actions button{

margin:6px;
padding:14px;
font-size:16px;

}


.income{

color:green;
font-weight:bold;

}


.expense{

color:red;
font-weight:bold;

}


.balance{

font-weight:bold;

}
